################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/CS303_Project_1/.vs/CS303_Project_1/v15
/Projects/Project1_Remake/.vs/Project1_Remake/v15
/Projects/Project1_Final/.vs/Project1_Final/v15
/Projects/Project2/.vs/Project2/v15
