################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/CS303_Project_1/.vs/CS303_Project_1/v15
